/* PRESETS */

:root {
    /* space */
    --margin-group: 20px 0 20px 0;
    --padding: 10px;

    /* colors */
    --primary-c: rgb(56, 106, 207);
    --primary-c-2: rgb(207, 56, 79);
    --primary-c-3: rgb(56, 207, 94);
    --primary-c-4: rgb(207, 162, 56);
    --primary-c-5: rgb(56, 172, 207);
    --primary-c-6: rgb(207, 56, 200);
    --primary-c-7: rgb(139, 56, 207);
    --secundary-c: rgb(60, 60, 60);
    --terciary-c: rgb(164, 162, 162);
    --back-c-1: rgb(246, 246, 240);
    --back-c-2: rgb(255, 255, 255);
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.08);

    /* elements */
    --border-left: 3px solid var(--primary-c);
    --border-left-item: 3px solid var(--primary-c-3);

}

p1 {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--back-c-1);
}

p2 {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--back-c-1);
}

p3 {
    font-size: 16px;
    font-weight: normal;
    font-variant-caps: normal;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--secundary-c);
    line-height: 28px;
}


/* PAGE */

html {
    background-color: white;
}


/* MAIN */

#main-timeline::-webkit-scrollbar {
    width: 10px;
}

#main-timeline::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 25px;
}

#main-timeline::-webkit-scrollbar-thumb {
    background-color: var(--terciary-c);
    border-radius: 25px;
}


#wrapper-timeline {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

#main-timeline {
    height: 70vh;
    width: 80vw !important;
    overflow-y: scroll;
    padding-right: 20px;
    /* Ajuste o valor conforme necessário */
    border-left: 3px solid;
    border-color: var(--primary-c);
    background-color: var(--back-c-1);
}

.timeline-group.ultimo {
    height: auto !important;
}

.timeline-group {
    height: 90vh;
}

.timeline-group>* {
    margin-bottom: 10px;
}

/* tittle */

.tittle-group {
    display: inline-block;
    padding: 5px 25px;
    width: fit-content;
    background-color: var(--primary-c);
    border-radius: 0 25px 25px 0;
    text-align: center;
}

/* card */

.definition-group {
    overflow: hidden;
}

.card {
    position: relative;
}

.wrapper-card {
    padding: 10px;
    margin-left: 25px;
    background-color: var(--back-c-2);
    border: var(--border-left);
    border-radius: 0 25px 25px 0;
    text-align: justify;
    position: relative;
    z-index: 5;
}

p1.tittle-card {
    color: var(--primary-c);
    text-transform: none;
}

.tittle-card {
    margin: 10px 0 10px 10px;
}

.card::before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--primary-c);
    position: absolute;
    top: 1rem;
    left: -50%;
    z-index: 1;
}

/* item */

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 0;
    position: relative;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: var(--primary-c);
    border-radius: 50%;
    position: absolute;
    transform: translateX(calc(-50% - 1.5px));
}

.definition-group .circle {
    overflow: visible !important;
}

.circle:hover {
    background-color: var(--secundary-c);
    transition: 0.3s;
}

.preview-item {
    background-color: var(--secundary-c);
    padding: 5px 25px;
    width: fit-content;
    border-radius: 0 25px 25px 0;
    text-align: center;
    opacity: 0;
    transition: 0.3s;
    z-index: 5;
    position: absolute;
    margin: 0 25px;
}

.circle:hover+.preview-item {
    display: inline-block;
    opacity: 1;
    transition: 0.3s;
}

.card-item {
    display: none;
    flex-direction: column;
    position: relative;
    padding: 10px;
    margin-left: 25px;
    background-color: var(--back-c-2);
    box-shadow: var(--box-shadow);
    border-left: var(--border-left);
    border-radius: 0 25px 25px 0;
    text-align: justify;
    z-index: 4;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-item.show {
    display: flex;
    opacity: 1;
}

/* fade out scroll */
.timeline-navigation {
    position: relative;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.timeline-navigation button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: var(--primary-c-3);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.timeline-navigation button:hover {
    background-color: #45a049;
}